{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if not user.chat_id %}
        <h1>Отправить следующии код {{ user.bot_code }} в телеграм бота @get_message_from_site_bot </h1>
    {% else %}
    <form method="post">
        {% csrf_token %}{{form}}
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>

    

    {% endif %}
    
{% else %}
    <h1>Для получения доступа к функциональности сайта необходимо выполнить процесс авторизации.</h1>
{% endif %}
{% endblock %}